%h1 Listing admin_members

%table
  %thead
    %tr
      %th
      %th
      %th
      
  %tbody
    - @admin_members.each do |admin_member|
      %tr
        %td= link_to 'Show', admin_member
        %td= link_to 'Edit', edit_admin_member_path(admin_member)
        %td= link_to 'Destroy', admin_member, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Member', new_admin_member_path
