.admin_panel_header
	%h1
		Listing members
.admin_panel_inner
	%table{id: 'admin_members', style: "width: 100%;"}
		%thead
			%tr
				%th
				%th
				%th
				
		%tbody
			- members.each do |admin_member|
				%tr
					%td= link_to 'Show', admin_member_path(admin_member)
					%td= link_to 'Edit', edit_admin_member_path(admin_member)
					%td= link_to 'Destroy', admin_member, :method => :delete, :data => { :confirm => 'Are you sure?' }
	
	%br
	
	= link_to 'New Member', new_admin_member_path
