%h1 Listing admin_zips

%table
  %thead
    %tr
      %th
      %th
      %th
      
  %tbody
    - @admin_zips.each do |admin_zip|
      %tr
        %td= link_to 'Show', admin_zip
        %td= link_to 'Edit', edit_admin_zip_path(admin_zip)
        %td= link_to 'Destroy', admin_zip, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Zip', new_admin_zip_path
