!!! Strict
%html{"xml:lang" => "ru", :xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:content => "PEMEXA, PEMEXA-USA, PSS, PSS Mankon, Mankon, PCC", :name => "keywords"}/
		%meta{:content => "Presbyterian Secondary School Mankon", :name => "description"}/
		%title 
			PemexaUSA : 
			= controller.action_name
		%link{:rel => 'icon', :type => 'image/jpeg', :href => '/favicon.ico'}
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		