%h1 About us
%p
  %strong The mission of PEMEXA-USA is:
%ul
  %li To promote the spirit of togetherness, mutual Understanding and cooperation among all PEMEXANS in the United States of America.
  %li To uphold the values of discipline, respect and human dignity acquired during the years of learning and association in PSS Mankon.
  %li
    To instill in members and their communities Christian principles and a lasting fear of God.
    %br
  %li To maintain continual contact and association between all Ex-Students of PSS Mankon and their Alma Matter, and to coordinate activities to enhance its collective welfare.
  %li To promote the well being of PSS Mankon and to help it continue to grow in the academic and social world.
  %li To provide material and spiritual assistance to poor, disabled, or otherwise disadvantaged individuals and communities affiliated with PSS Mankon, PEMEXA, or PEMEXA-USA without regard to race, religion, nationality, or gender.
%p
%strong WHERE WE ARE:
%br
%br
    