#content.rc5
  .simple-text
    %h1 About us
    %p
      %strong The mission of PEMEXA-USA is:
    %ul
      %li To promote the spirit of togetherness, mutual Understanding and cooperation among all PEMEXANS in the United States of America.
      %li To uphold the values of discipline, respect and human dignity acquired during the years of learning and association in PSS Mankon.
      %li
        To instill in members and their communities Christian principles and a lasting fear of God.
        %br/
      %li To maintain continual contact and association between all Ex-Students of PSS Mankon and their Alma Matter, and to coordinate activities to enhance its collective welfare.
      %li To promote the well being of PSS Mankon and to help it continue to grow in the academic and social world.
      %li To provide material and spiritual assistance to poor, disabled, or otherwise disadvantaged individuals and communities affiliated with PSS Mankon, PEMEXA, or PEMEXA-USA without regard to race, religion, nationality, or gender.
    %p
    %strong WHERE WE ARE:
    %br/
    %br/
    .bx-yandex-view-layout
      .bx-yandex-view-map
        :javascript
          if (!window.GLOBAL_arMapObjects)
          	window.GLOBAL_arMapObjects = {};
          
          function init_USA() 
          {
          	if (!window.google && !window.google.maps)
          		return;
          	
          	var opts = {
          		zoom: 4,
          		center: new google.maps.LatLng(39.631605828133, -102.52938046875),
          		scrollwheel: true,
          		disableDoubleClickZoom: false,
          		draggable: true,
          		keyboardShortcuts: true,
          		mapTypeControl: true,
          		navigationControl: true,
          		scaleControl: true,
          
          		mapTypeId: google.maps.MapTypeId.ROADMAP
          	}
          	
          	window.GLOBAL_arMapObjects['USA'] = new window.google.maps.Map(BX("BX_GMAP_USA"), opts);
          
          }
          BX.ready(init_USA);
        #BX_GMAP_USA.bx-google-map{:style => "height: 800px; width: 952px;"} loading map...
    :javascript
      var data = {"pins": [
      {
      	"ID": "1385",
      	"LON": "-76.0610361",
      	"LAT": "42.1925746",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1773",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1403",
      	"LON": "-109.1961111",
      	"LAT": "32.9175",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "347",
      	"LON": "-96.994174",
      	"LAT": "33.046233",
      	"TEXT":"Class of 2003"},
      {
      	"ID": "168",
      	"LON": "-79.946213",
      	"LAT": "40.44813",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1284",
      	"LON": "-95.6691277",
      	"LAT": "32.1679321",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "147",
      	"LON": "-76.89037",
      	"LAT": "38.749823",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "1545",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "1663",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "2962",
      	"LON": "-91.9623327",
      	"LAT": "30.9842977",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "3003",
      	"LON": "-155.5827818",
      	"LAT": "19.8967662",
      	"TEXT":"Class of 1997"},
      {
      	"ID": "1746",
      	"LON": "-82.9000751",
      	"LAT": "32.1656221",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1536",
      	"LON": "-110.3625658",
      	"LAT": "46.8796822",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "280",
      	"LON": "-76.8792129",
      	"LAT": "39.061492",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "198",
      	"LON": "-95.653576",
      	"LAT": "29.6926317",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "357",
      	"LON": "-76.7517519",
      	"LAT": "39.3628757",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "353",
      	"LON": "-97.524117",
      	"LAT": "35.630972",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "288",
      	"LON": "-86.58583",
      	"LAT": "33.533926",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "1590",
      	"LON": "-74.8865453",
      	"LAT": "42.5364661",
      	"TEXT":"Class of 1988"},
      {
      	"ID": "1606",
      	"LON": "-99.5734685",
      	"LAT": "48.3127771",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1772",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1535",
      	"LON": "-110.3625658",
      	"LAT": "46.8796822",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1792",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1400",
      	"LON": "-97.5164276",
      	"LAT": "35.4675602",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1409",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1585",
      	"LON": "-93.9268836",
      	"LAT": "39.6852874",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1546",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "1863",
      	"LON": "-87.6391922",
      	"LAT": "39.1714288",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1884",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1841",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "2959",
      	"LON": "-76.7794399",
      	"LAT": "39.3530867",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1666",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "1405",
      	"LON": "-109.1961111",
      	"LAT": "32.9175",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "1670",
      	"LON": "-76.7472121",
      	"LAT": "40.1151361",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1842",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1652",
      	"LON": "-78.3908559",
      	"LAT": "43.0964478",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "2937",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1310",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 2002"},
      {
      	"ID": "1304",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "1651",
      	"LON": "-78.3908559",
      	"LAT": "43.0964478",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "307",
      	"LON": "-96.760927",
      	"LAT": "33.186721",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "1558",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "1793",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1286",
      	"LON": "-95.6691277",
      	"LAT": "32.1679321",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1534",
      	"LON": "-110.3625658",
      	"LAT": "46.8796822",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "163",
      	"LON": "-97.125773",
      	"LAT": "31.541967",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1165",
      	"LON": "-97.125773",
      	"LAT": "31.541967",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "277",
      	"LON": "-76.2884592",
      	"LAT": "39.4682912",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1778",
      	"LON": "-83.7128095",
      	"LAT": "42.1318816",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1538",
      	"LON": "-110.3625658",
      	"LAT": "46.8796822",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1846",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "1802",
      	"LON": "-82.9000751",
      	"LAT": "32.1656221",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1885",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1410",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1396",
      	"LON": "-97.5164276",
      	"LAT": "35.4675602",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "2963",
      	"LON": "-91.9623327",
      	"LAT": "30.9842977",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "1653",
      	"LON": "-78.3908559",
      	"LAT": "43.0964478",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "1643",
      	"LON": "-92.2690566",
      	"LAT": "43.533021",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1408",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1661",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1605",
      	"LON": "-99.5734685",
      	"LAT": "48.3127771",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1854",
      	"LON": "-84.2700179",
      	"LAT": "37.8393332",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "362",
      	"LON": "-84.4568884",
      	"LAT": "33.5772784",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "1786",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1383",
      	"LON": "-76.0610361",
      	"LAT": "42.1925746",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "320",
      	"LON": "-83.161302",
      	"LAT": "42.462318",
      	"TEXT":"Class of 1986"},
      {
      	"ID": "1298",
      	"LON": "-97.669389",
      	"LAT": "45.2112434",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1300",
      	"LON": "-97.669389",
      	"LAT": "45.2112434",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "2957",
      	"LON": "-76.061111",
      	"LAT": "42.1925",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "166",
      	"LON": "-96.569553",
      	"LAT": "32.861319",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "179",
      	"LON": "-77.8505246",
      	"LAT": "36.7613008",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1295",
      	"LON": "-111.0937311",
      	"LAT": "39.3209801",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "1565",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1548",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "1658",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1530",
      	"LON": "-76.3868797",
      	"LAT": "37.2103925",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "3000",
      	"LON": "-155.5827818",
      	"LAT": "19.8967662",
      	"TEXT":"Class of 1997"},
      {
      	"ID": "1386",
      	"LON": "-76.0610361",
      	"LAT": "42.1925746",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1781",
      	"LON": "-83.7128095",
      	"LAT": "42.1318816",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1395",
      	"LON": "-89.3985283",
      	"LAT": "32.3546679",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "2964",
      	"LON": "-91.9623327",
      	"LAT": "30.9842977",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "1283",
      	"LON": "-95.6691277",
      	"LAT": "32.1679321",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1813",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 1985"},
      {
      	"ID": "1613",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "1613",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "1613",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "1613",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "1607",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1668",
      	"LON": "-76.7472121",
      	"LAT": "40.1151361",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1592",
      	"LON": "-74.8865453",
      	"LAT": "42.5364661",
      	"TEXT":"Class of 1988"},
      {
      	"ID": "1788",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1528",
      	"LON": "-76.3868797",
      	"LAT": "37.2103925",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1671",
      	"LON": "-76.7472121",
      	"LAT": "40.1151361",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1814",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 1985"},
      {
      	"ID": "2961",
      	"LON": "-91.9623327",
      	"LAT": "30.9842977",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "1392",
      	"LON": "-89.3985283",
      	"LAT": "32.3546679",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1542",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1547",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "1610",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1798",
      	"LON": "-83.7128095",
      	"LAT": "42.1318816",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "2253",
      	"LON": "-95.758123",
      	"LAT": "29.715232",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1391",
      	"LON": "-89.3985283",
      	"LAT": "32.3546679",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "3002",
      	"LON": "-155.5827818",
      	"LAT": "19.8967662",
      	"TEXT":"Class of 1997"},
      {
      	"ID": "368",
      	"LON": "-95.4912912",
      	"LAT": "29.5318667",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1294",
      	"LON": "-111.0937311",
      	"LAT": "39.3209801",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "1748",
      	"LON": "-82.9000751",
      	"LAT": "32.1656221",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1335",
      	"LON": "-97.7226548",
      	"LAT": "35.5700073",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1775",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1595",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1290",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "391",
      	"LON": "-97.1167891",
      	"LAT": "32.710512",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "2936",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1297",
      	"LON": "-97.669389",
      	"LAT": "45.2112434",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1620",
      	"LON": "-97.669389",
      	"LAT": "45.2112434",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "1806",
      	"LON": "-82.9000751",
      	"LAT": "32.1656221",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "714",
      	"LON": "-80.729276",
      	"LAT": "35.327483",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "1292",
      	"LON": "-111.0937311",
      	"LAT": "39.3209801",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "1296",
      	"LON": "-111.0937311",
      	"LAT": "39.3209801",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "691",
      	"LON": "-122.4194155",
      	"LAT": "37.7749295",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "1838",
      	"LON": "-98.5062007",
      	"LAT": "37.861353",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1307",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "348",
      	"LON": "-71.0670967",
      	"LAT": "42.4387247",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1860",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1799",
      	"LON": "-83.7128095",
      	"LAT": "42.1318816",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1589",
      	"LON": "-74.8865453",
      	"LAT": "42.5364661",
      	"TEXT":"Class of 1988"},
      {
      	"ID": "1305",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "1646",
      	"LON": "-92.2690566",
      	"LAT": "43.533021",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1654",
      	"LON": "-78.3908559",
      	"LAT": "43.0964478",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "1394",
      	"LON": "-89.3985283",
      	"LAT": "32.3546679",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1416",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "3001",
      	"LON": "-155.5827818",
      	"LAT": "19.8967662",
      	"TEXT":"Class of 1997"},
      {
      	"ID": "711",
      	"LON": "-97.524114",
      	"LAT": "35.630972",
      	"TEXT":"Class of 2011"},
      {
      	"ID": "1567",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "392",
      	"LON": "-77.7450857",
      	"LAT": "39.6705526",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "289",
      	"LON": "-95.6406129",
      	"LAT": "29.6702508",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1665",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "1308",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 2002"},
      {
      	"ID": "1871",
      	"LON": "-76.771707",
      	"LAT": "38.79922",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1425",
      	"LON": "-71.4774291",
      	"LAT": "41.5800945",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "1404",
      	"LON": "-109.1961111",
      	"LAT": "32.9175",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "1299",
      	"LON": "-97.669389",
      	"LAT": "45.2112434",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1809",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1596",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1877",
      	"LON": "-73.9712488",
      	"LAT": "40.7830603",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1586",
      	"LON": "-93.9268836",
      	"LAT": "39.6852874",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "370",
      	"LON": "-97.273293",
      	"LAT": "32.850855",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "379",
      	"LON": "-97.2691817",
      	"LAT": "32.7995738",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "323",
      	"LON": "-95.41766",
      	"LAT": "29.807606",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1160",
      	"LON": "-84.8567932",
      	"LAT": "32.5228697",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "167",
      	"LON": "-86.714398",
      	"LAT": "36.018862",
      	"TEXT":"Class of 1985"},
      {
      	"ID": "403",
      	"LON": "-95.542244",
      	"LAT": "29.73124",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "327",
      	"LON": "-82.921428",
      	"LAT": "40.030201",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "387",
      	"LON": "-96.72255",
      	"LAT": "33.032345",
      	"TEXT":"Class of 1986"},
      {
      	"ID": "363",
      	"LON": "-82.907123",
      	"LAT": "32.1574351",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "2939",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1803",
      	"LON": "-82.9000751",
      	"LAT": "32.1656221",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1861",
      	"LON": "-87.6391922",
      	"LAT": "39.1714288",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "312",
      	"LON": "-85.6713037",
      	"LAT": "42.975176",
      	"TEXT":"Class of 1997"},
      {
      	"ID": "1768",
      	"LON": "-116.419389",
      	"LAT": "38.8026097",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "1598",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1561",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1632",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "1566",
      	"LON": "-76.831908",
      	"LAT": "39.042242",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1417",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1681",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "1597",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "128",
      	"LON": "-84.276748",
      	"LAT": "33.999236",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "1864",
      	"LON": "-87.6391922",
      	"LAT": "39.1714288",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1672",
      	"LON": "-76.7472121",
      	"LAT": "40.1151361",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "324",
      	"LON": "-97.396315",
      	"LAT": "32.613022",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1541",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "345",
      	"LON": "-96.7499709",
      	"LAT": "32.9167184",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "717",
      	"LON": "-86.902298",
      	"LAT": "32.3182314",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "180",
      	"LON": "-75.210915",
      	"LAT": "40.037701",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "287",
      	"LON": "-85.3721708",
      	"LAT": "33.1512313",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1876",
      	"LON": "-73.9712488",
      	"LAT": "40.7830603",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1568",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1835",
      	"LON": "-98.5062007",
      	"LAT": "37.861353",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1638",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1303",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "149",
      	"LON": "-85.6663105",
      	"LAT": "42.2828165",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "386",
      	"LON": "-76.846603",
      	"LAT": "39.2299637",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "165",
      	"LON": "-81.999454",
      	"LAT": "34.949952",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "412",
      	"LON": "-96.627599",
      	"LAT": "32.94549",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1183",
      	"LON": "-76.417449",
      	"LAT": "36.8548509",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "325",
      	"LON": "-97.226454",
      	"LAT": "32.91429",
      	"TEXT":"Class of 1986"},
      {
      	"ID": "306",
      	"LON": "-96.743584",
      	"LAT": "33.177853",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "1844",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "1659",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "2951",
      	"LON": "-74.8741045",
      	"LAT": "42.2452081",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1293",
      	"LON": "-111.0937311",
      	"LAT": "39.3209801",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "2944",
      	"LON": "-77.731851",
      	"LAT": "39.575392",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "206",
      	"LON": "-95.3929004",
      	"LAT": "29.572293",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "402",
      	"LON": "-95.555658",
      	"LAT": "29.681025",
      	"TEXT":"Class of 1988"},
      {
      	"ID": "722",
      	"LON": "-80.695646",
      	"LAT": "35.294174",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "2958",
      	"LON": "-76.495306",
      	"LAT": "39.378143",
      	"TEXT":"Class of 1985"},
      {
      	"ID": "305",
      	"LON": "-88.046304",
      	"LAT": "41.9032542",
      	"TEXT":"Class of 1986"},
      {
      	"ID": "1412",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1815",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 1985"},
      {
      	"ID": "1633",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "169",
      	"LON": "-95.537764",
      	"LAT": "30.025712",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1611",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1213",
      	"LON": "-73.3708696",
      	"LAT": "43.2519472",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1641",
      	"LON": "-76.0610361",
      	"LAT": "42.1925746",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1796",
      	"LON": "-114.7420408",
      	"LAT": "44.0682019",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "1195",
      	"LON": "-95.6691277",
      	"LAT": "32.1679321",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "2942",
      	"LON": "-74.0059413",
      	"LAT": "40.7127837",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "1527",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of Male"},
      {
      	"ID": "1629",
      	"LON": "-71.5723953",
      	"LAT": "43.1938516",
      	"TEXT":"Class of 1997"},
      {
      	"ID": "3136",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "2934",
      	"LON": "-76.7472121",
      	"LAT": "40.1151361",
      	"TEXT":"Class of 1986"},
      {
      	"ID": "1626",
      	"LON": "-74.8741045",
      	"LAT": "42.2452081",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "3125",
      	"LON": "-92.2690566",
      	"LAT": "43.533021",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "2935",
      	"LON": "-110.3625658",
      	"LAT": "46.8796822",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1625",
      	"LON": "-73.3708696",
      	"LAT": "43.2519472",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1656",
      	"LON": "-114.7420408",
      	"LAT": "44.0682019",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "1650",
      	"LON": "-78.3908559",
      	"LAT": "43.0964478",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "1810",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1288",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1875",
      	"LON": "-73.9712488",
      	"LAT": "40.7830603",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1816",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 1985"},
      {
      	"ID": "1543",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1414",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1544",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "1555",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "1744",
      	"LON": "-82.9000751",
      	"LAT": "32.1656221",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "186",
      	"LON": "-76.74696",
      	"LAT": "38.901987",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "371",
      	"LON": "-86.902298",
      	"LAT": "32.3182314",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1554",
      	"LON": "-76.727745",
      	"LAT": "39.9625984",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1812",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 1985"},
      {
      	"ID": "1837",
      	"LON": "-98.5062007",
      	"LAT": "37.861353",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1529",
      	"LON": "-76.3868797",
      	"LAT": "37.2103925",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1550",
      	"LON": "-76.727745",
      	"LAT": "39.9625984",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1683",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "1811",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1624",
      	"LON": "-97.669389",
      	"LAT": "45.2112434",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "1621",
      	"LON": "-97.669389",
      	"LAT": "45.2112434",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "1782",
      	"LON": "-83.7128095",
      	"LAT": "42.1318816",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1791",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1642",
      	"LON": "-92.2690566",
      	"LAT": "43.533021",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1576",
      	"LON": "-92.1450245",
      	"LAT": "31.2448234",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "2950",
      	"LON": "-74.8741045",
      	"LAT": "42.2452081",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1563",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "2948",
      	"LON": "-74.8741045",
      	"LAT": "42.2452081",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1552",
      	"LON": "-76.727745",
      	"LAT": "39.9625984",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1591",
      	"LON": "-74.8865453",
      	"LAT": "42.5364661",
      	"TEXT":"Class of 1988"},
      {
      	"ID": "389",
      	"LON": "-97.1315646",
      	"LAT": "33.1986923",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1664",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "1531",
      	"LON": "-76.3868797",
      	"LAT": "37.2103925",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "311",
      	"LON": "-104.795543",
      	"LAT": "39.64511",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "1520",
      	"LON": "-76.727745",
      	"LAT": "39.9625984",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1423",
      	"LON": "-71.4774291",
      	"LAT": "41.5800945",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "3009",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "1238",
      	"LON": "-89.3985283",
      	"LAT": "32.3546679",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "3008",
      	"LON": "-105.7820674",
      	"LAT": "39.5500507",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "2943",
      	"LON": "-76.520594",
      	"LAT": "39.357751",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1398",
      	"LON": "-97.5164276",
      	"LAT": "35.4675602",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1564",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1644",
      	"LON": "-92.2690566",
      	"LAT": "43.533021",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1766",
      	"LON": "-116.419389",
      	"LAT": "38.8026097",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "1571",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1587",
      	"LON": "-93.9268836",
      	"LAT": "39.6852874",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1312",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 2002"},
      {
      	"ID": "1616",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "1888",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1384",
      	"LON": "-76.0610361",
      	"LAT": "42.1925746",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1634",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "998",
      	"LON": "-79.9829301",
      	"LAT": "35.9837006",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1570",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "209",
      	"LON": "-95.42274",
      	"LAT": "29.565966",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "442",
      	"LON": "-86.9833417",
      	"LAT": "34.6059253",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "468",
      	"LON": "-97.7005544",
      	"LAT": "26.2185354",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1850",
      	"LON": "-84.2700179",
      	"LAT": "37.8393332",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1557",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "207",
      	"LON": "-95.379699",
      	"LAT": "29.735829",
      	"TEXT":"Class of 2003"},
      {
      	"ID": "1771",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "176",
      	"LON": "-77.5295421",
      	"LAT": "38.7910143",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "689",
      	"LON": "-95.758123",
      	"LAT": "29.715232",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "290",
      	"LON": "-84.351868",
      	"LAT": "34.092569",
      	"TEXT":"Class of 1986"},
      {
      	"ID": "1401",
      	"LON": "-76.8411374",
      	"LAT": "38.8882135",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "449",
      	"LON": "-80.705833",
      	"LAT": "35.070526",
      	"TEXT":"Class of 1986"},
      {
      	"ID": "1424",
      	"LON": "-71.4774291",
      	"LAT": "41.5800945",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "1289",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1406",
      	"LON": "-109.1961111",
      	"LAT": "32.9175",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "172",
      	"LON": "-90.5764017",
      	"LAT": "38.6485732",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "1553",
      	"LON": "-76.727745",
      	"LAT": "39.9625984",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "2949",
      	"LON": "-74.8741045",
      	"LAT": "42.2452081",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1845",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "1840",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "450",
      	"LON": "-86.0038841",
      	"LAT": "32.2652564",
      	"TEXT":"Class of 1986"},
      {
      	"ID": "1602",
      	"LON": "-99.5734685",
      	"LAT": "48.3127771",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1790",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "285",
      	"LON": "-80.6804471",
      	"LAT": "35.2794043",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1166",
      	"LON": "-88.0522013",
      	"LAT": "30.6701623",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1167",
      	"LON": "-88.0522013",
      	"LAT": "30.6701623",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "3036",
      	"LON": "-76.863452",
      	"LAT": "39.05614",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1559",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "2955",
      	"LON": "-76.061111",
      	"LAT": "42.1925",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1422",
      	"LON": "-71.4774291",
      	"LAT": "41.5800945",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "2953",
      	"LON": "-76.061111",
      	"LAT": "42.1925",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1421",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1639",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "470",
      	"LON": "-78.506734",
      	"LAT": "36.011978",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "2952",
      	"LON": "-74.8741045",
      	"LAT": "42.2452081",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1569",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1521",
      	"LON": "-76.727745",
      	"LAT": "39.9625984",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "2956",
      	"LON": "-76.061111",
      	"LAT": "42.1925",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1285",
      	"LON": "-95.6691277",
      	"LAT": "32.1679321",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "309",
      	"LON": "-96.743584",
      	"LAT": "33.177853",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "723",
      	"LON": "-81.1689004",
      	"LAT": "34.1333047",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "286",
      	"LON": "-96.5485991",
      	"LAT": "33.3490011",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "125",
      	"LON": "-95.761607",
      	"LAT": "30.003867",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "1407",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "2954",
      	"LON": "-76.061111",
      	"LAT": "42.1925",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1745",
      	"LON": "-82.9000751",
      	"LAT": "32.1656221",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1739",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1578",
      	"LON": "-92.1450245",
      	"LAT": "31.2448234",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1420",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1645",
      	"LON": "-92.2690566",
      	"LAT": "43.533021",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "2945",
      	"LON": "-77.731851",
      	"LAT": "39.575392",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "1787",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "201",
      	"LON": "-95.598586",
      	"LAT": "29.734067",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1678",
      	"LON": "-83.212711",
      	"LAT": "42.705132",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "724",
      	"LON": "-80.88659",
      	"LAT": "35.147573",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "322",
      	"LON": "-95.3206718",
      	"LAT": "29.5593837",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "1291",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "3119",
      	"LON": "-149.4936733",
      	"LAT": "64.2008413",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1562",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "175",
      	"LON": "-83.9191029",
      	"LAT": "33.9980306",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1789",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1583",
      	"LON": "-93.9268836",
      	"LAT": "39.6852874",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "135",
      	"LON": "-75.519271",
      	"LAT": "40.183176",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1853",
      	"LON": "-84.2700179",
      	"LAT": "37.8393332",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1608",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1402",
      	"LON": "-109.1961111",
      	"LAT": "32.9175",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "720",
      	"LON": "-86.902298",
      	"LAT": "32.3182314",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "721",
      	"LON": "-86.902298",
      	"LAT": "32.3182314",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "393",
      	"LON": "-76.98414",
      	"LAT": "39.040346",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "303",
      	"LON": "-76.8070429",
      	"LAT": "38.87788",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "1306",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "1603",
      	"LON": "-99.5734685",
      	"LAT": "48.3127771",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1804",
      	"LON": "-82.9000751",
      	"LAT": "32.1656221",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1309",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 2002"},
      {
      	"ID": "997",
      	"LON": "-121.9521998",
      	"LAT": "37.5163194",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "3012",
      	"LON": "-89.3985283",
      	"LAT": "32.3546679",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1600",
      	"LON": "-111.0937311",
      	"LAT": "39.3209801",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "1574",
      	"LON": "-73.9712488",
      	"LAT": "40.7830603",
      	"TEXT":"Class of 2002"},
      {
      	"ID": "1636",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1609",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1858",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "352",
      	"LON": "-96.703784",
      	"LAT": "33.100952",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "411",
      	"LON": "-96.5873311",
      	"LAT": "32.8079159",
      	"TEXT":"Class of 1985"},
      {
      	"ID": "142",
      	"LON": "-84.682401",
      	"LAT": "33.9071041",
      	"TEXT":"Class of 1988"},
      {
      	"ID": "364",
      	"LON": "-84.620109",
      	"LAT": "33.820215",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1615",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "1669",
      	"LON": "-76.7472121",
      	"LAT": "40.1151361",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1747",
      	"LON": "-82.9000751",
      	"LAT": "32.1656221",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1743",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1397",
      	"LON": "-97.5164276",
      	"LAT": "35.4675602",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1679",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "1623",
      	"LON": "-97.669389",
      	"LAT": "45.2112434",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "1795",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1537",
      	"LON": "-110.3625658",
      	"LAT": "46.8796822",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "760",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 1988"},
      {
      	"ID": "1189",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "349",
      	"LON": "-83.311579",
      	"LAT": "42.3279753",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "275",
      	"LON": "-86.633291",
      	"LAT": "33.3703209",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1539",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1311",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 2002"},
      {
      	"ID": "344",
      	"LON": "-83.1770669",
      	"LAT": "42.287898",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1523",
      	"LON": "-76.727745",
      	"LAT": "39.9625984",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "139",
      	"LON": "-73.8390164",
      	"LAT": "40.8565381",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1588",
      	"LON": "-74.8865453",
      	"LAT": "42.5364661",
      	"TEXT":"Class of 1988"},
      {
      	"ID": "278",
      	"LON": "-95.446998",
      	"LAT": "29.801729",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1680",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "1584",
      	"LON": "-93.9268836",
      	"LAT": "39.6852874",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1519",
      	"LON": "-76.727745",
      	"LAT": "39.9625984",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "184",
      	"LON": "-95.415049",
      	"LAT": "29.68101",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "388",
      	"LON": "-96.9517785",
      	"LAT": "32.9174465",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "467",
      	"LON": "-118.762588",
      	"LAT": "34.27705",
      	"TEXT":"Class of 2002"},
      {
      	"ID": "1556",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "1856",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "319",
      	"LON": "-83.508728",
      	"LAT": "42.297154",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "197",
      	"LON": "-77.610633",
      	"LAT": "38.771245",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "1667",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "1797",
      	"LON": "-83.7128095",
      	"LAT": "42.1318816",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1282",
      	"LON": "-95.6691277",
      	"LAT": "32.1679321",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "350",
      	"LON": "-82.943331",
      	"LAT": "42.404534",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "394",
      	"LON": "-86.902298",
      	"LAT": "32.3182314",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1418",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1851",
      	"LON": "-84.2700179",
      	"LAT": "37.8393332",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "374",
      	"LON": "-86.58583",
      	"LAT": "33.533926",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1865",
      	"LON": "-87.6391922",
      	"LAT": "39.1714288",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "436",
      	"LON": "-86.9851583",
      	"LAT": "34.5482968",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1741",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1762",
      	"LON": "-77.3107266",
      	"LAT": "38.6516675",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1582",
      	"LON": "-74.9784914",
      	"LAT": "43.3222909",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "1593",
      	"LON": "-95.777786",
      	"LAT": "29.688739",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1594",
      	"LON": "-87.056244",
      	"LAT": "32.114018",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "695",
      	"LON": "-80.5867355",
      	"LAT": "35.4363293",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "1794",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1637",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1869",
      	"LON": "-76.819365",
      	"LAT": "38.790974",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "439",
      	"LON": "-112.312635",
      	"LAT": "33.444683",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "129",
      	"LON": "-95.833476",
      	"LAT": "29.704453",
      	"TEXT":"Class of 1985"},
      {
      	"ID": "1246",
      	"LON": "-80.75753",
      	"LAT": "35.199777",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "355",
      	"LON": "-96.7499709",
      	"LAT": "32.9167184",
      	"TEXT":"Class of 1997"},
      {
      	"ID": "148",
      	"LON": "-80.6804471",
      	"LAT": "35.2794043",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "346",
      	"LON": "-96.768692",
      	"LAT": "33.043921",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1801",
      	"LON": "-83.7128095",
      	"LAT": "42.1318816",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "376",
      	"LON": "-86.902298",
      	"LAT": "32.3182314",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "525",
      	"LON": "-79.9743796",
      	"LAT": "39.5608827",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1415",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1770",
      	"LON": "-116.419389",
      	"LAT": "38.8026097",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "425",
      	"LON": "-112.388033",
      	"LAT": "33.589681",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "1886",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1742",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1847",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "174",
      	"LON": "-73.855274",
      	"LAT": "40.87532",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "360",
      	"LON": "-75.539667",
      	"LAT": "40.547612",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1280",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1533",
      	"LON": "-155.5827818",
      	"LAT": "19.8967662",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "187",
      	"LON": "-76.922022",
      	"LAT": "39.101813",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "1873",
      	"LON": "-82.961203",
      	"LAT": "42.530033",
      	"TEXT":"Class of 1985"},
      {
      	"ID": "768",
      	"LON": "-76.8433098",
      	"LAT": "39.070441",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "171",
      	"LON": "-96.767954",
      	"LAT": "33.108295",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1419",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1780",
      	"LON": "-83.7128095",
      	"LAT": "42.1318816",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1808",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "284",
      	"LON": "-97.124104",
      	"LAT": "32.6142759",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "434",
      	"LON": "-77.1469393",
      	"LAT": "38.820322",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "433",
      	"LON": "-77.2080263",
      	"LAT": "38.8285925",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "2938",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1630",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "1774",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1387",
      	"LON": "-76.0610361",
      	"LAT": "42.1925746",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "1682",
      	"LON": "-74.0059731",
      	"LAT": "40.7143528",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "1767",
      	"LON": "-116.419389",
      	"LAT": "38.8026097",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "1800",
      	"LON": "-83.7128095",
      	"LAT": "42.1318816",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1393",
      	"LON": "-89.3985283",
      	"LAT": "32.3546679",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1313",
      	"LON": "-86.902298",
      	"LAT": "32.3182314",
      	"TEXT":"Class of 2011"},
      {
      	"ID": "358",
      	"LON": "-78.55579",
      	"LAT": "35.966066",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "1870",
      	"LON": "-76.819365",
      	"LAT": "38.790974",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1622",
      	"LON": "-97.669389",
      	"LAT": "45.2112434",
      	"TEXT":"Class of 1987"},
      {
      	"ID": "143",
      	"LON": "-96.770437",
      	"LAT": "32.917814",
      	"TEXT":"Class of 2003"},
      {
      	"ID": "1779",
      	"LON": "-83.7128095",
      	"LAT": "42.1318816",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1399",
      	"LON": "-97.5164276",
      	"LAT": "35.4675602",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1805",
      	"LON": "-82.9000751",
      	"LAT": "32.1656221",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "2999",
      	"LON": "-155.5827818",
      	"LAT": "19.8967662",
      	"TEXT":"Class of 1997"},
      {
      	"ID": "1551",
      	"LON": "-76.727745",
      	"LAT": "39.9625984",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "1839",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1413",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1834",
      	"LON": "-98.5062007",
      	"LAT": "37.861353",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "178",
      	"LON": "-77.5295421",
      	"LAT": "38.7910143",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1579",
      	"LON": "-92.1450245",
      	"LAT": "31.2448234",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1599",
      	"LON": "-84.8224581",
      	"LAT": "41.6883831",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "351",
      	"LON": "-82.961203",
      	"LAT": "42.530033",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "210",
      	"LON": "-95.3929004",
      	"LAT": "29.572293",
      	"TEXT":"Class of 2000"},
      {
      	"ID": "1577",
      	"LON": "-92.1450245",
      	"LAT": "31.2448234",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1287",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "279",
      	"LON": "-83.388098",
      	"LAT": "42.534114",
      	"TEXT":"Class of 1992"},
      {
      	"ID": "192",
      	"LON": "-76.7815509",
      	"LAT": "38.7662",
      	"TEXT":"Class of 1995"},
      {
      	"ID": "283",
      	"LON": "-96.560094",
      	"LAT": "33.379333",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "1740",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2001"},
      {
      	"ID": "136",
      	"LON": "-76.861536",
      	"LAT": "38.92722",
      	"TEXT":"Class of 1989"},
      {
      	"ID": "1601",
      	"LON": "-99.5734685",
      	"LAT": "48.3127771",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1532",
      	"LON": "-76.3868797",
      	"LAT": "37.2103925",
      	"TEXT":"Class of 2006"},
      {
      	"ID": "1604",
      	"LON": "-99.5734685",
      	"LAT": "48.3127771",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1426",
      	"LON": "-71.4774291",
      	"LAT": "41.5800945",
      	"TEXT":"Class of 2009"},
      {
      	"ID": "2960",
      	"LON": "-91.9623327",
      	"LAT": "30.9842977",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "1631",
      	"LON": "-97.5463885",
      	"LAT": "40.9335307",
      	"TEXT":"Class of 2007"},
      {
      	"ID": "1887",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 2010"},
      {
      	"ID": "1859",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1843",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "1614",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "1836",
      	"LON": "-98.5062007",
      	"LAT": "37.861353",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1662",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1635",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1173",
      	"LON": "-96.9485015",
      	"LAT": "32.9539229",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1862",
      	"LON": "-87.6391922",
      	"LAT": "39.1714288",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "1807",
      	"LON": "-91.1452778",
      	"LAT": "44.45",
      	"TEXT":"Class of 1996"},
      {
      	"ID": "331",
      	"LON": "-76.7204695",
      	"LAT": "39.1057645",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "2940",
      	"LON": "-73.087749",
      	"LAT": "41.6032207",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1617",
      	"LON": "-79.0192997",
      	"LAT": "35.7595731",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "1874",
      	"LON": "-73.9712488",
      	"LAT": "40.7830603",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1769",
      	"LON": "-116.419389",
      	"LAT": "38.8026097",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "1411",
      	"LON": "-81.2420175",
      	"LAT": "34.9943021",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1540",
      	"LON": "-72.5778415",
      	"LAT": "44.5588028",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "2946",
      	"LON": "-76.888268",
      	"LAT": "39.165938",
      	"TEXT":"Class of 1983"},
      {
      	"ID": "367",
      	"LON": "-86.8",
      	"LAT": "33.5",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1522",
      	"LON": "-76.727745",
      	"LAT": "39.9625984",
      	"TEXT":"Class of 2008"},
      {
      	"ID": "1878",
      	"LON": "-73.9712488",
      	"LAT": "40.7830603",
      	"TEXT":"Class of 2005"},
      {
      	"ID": "1857",
      	"LON": "-80.4549026",
      	"LAT": "38.5976262",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1848",
      	"LON": "-71.3824374",
      	"LAT": "42.4072107",
      	"TEXT":"Class of 1999"},
      {
      	"ID": "1660",
      	"LON": "-93.2599318",
      	"LAT": "40.8516701",
      	"TEXT":"Class of 2004"},
      {
      	"ID": "1580",
      	"LON": "-92.1450245",
      	"LAT": "31.2448234",
      	"TEXT":"Class of 1990"},
      {
      	"ID": "308",
      	"LON": "-76.9911112",
      	"LAT": "38.9730287",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "342",
      	"LON": "-76.865174",
      	"LAT": "38.9965547",
      	"TEXT":"Class of 1998"},
      {
      	"ID": "164",
      	"LON": "-76.861536",
      	"LAT": "38.92722",
      	"TEXT":"Class of 1993"},
      {
      	"ID": "377",
      	"LON": "-86.6598781",
      	"LAT": "33.4072569",
      	"TEXT":"Class of 1997"},
      {
      	"ID": "332",
      	"LON": "-76.7855866",
      	"LAT": "38.9855738",
      	"TEXT":"Class of 1994"},
      {
      	"ID": "1852",
      	"LON": "-84.2700179",
      	"LAT": "37.8393332",
      	"TEXT":"Class of 1984"},
      {
      	"ID": "1301",
      	"LON": "-97.669389",
      	"LAT": "45.2112434",
      	"TEXT":"Class of 1991"},
      {
      	"ID": "200",
      	"LON": "-95.415052",
      	"LAT": "29.68102",
      	"TEXT":"Class of 2004"},
      ]};
      
      
    %script{:src => "/bitrix/templates/pemexausa/components/bitrix/map.google.view/usa/markerclusterer.js", :type => "text/javascript"}
    :javascript
      map_id_usa = 'USA';
      var pins_number = '504'
    %script{:src => "/bitrix/templates/pemexausa/components/bitrix/map.google.view/usa/map.js", :type => "text/javascript"}