.simple-text-main
	%h1.yellow Welcome to Pemexa-USA
	%div
		.calendar.fright
			= month_calendar do |date|
				= date.day
	%div
		%p
			PEMEXA-USA comprises ex-studens of P.S.S. Mankon resident in USA. In keeping with the overall mission of
			= succeed "," do
				%a{:href => "http://www.pemexa.net", :target => "_blank"} PEMEXA
			members of PEMEXA-USA come together to share their common heritage, harness their resources, seek avenues to create new visions for P.S.S. Mankon, and carry out projects geared towards maintaining the status of P.S.S. Mankon as one of the best educational institutions in Cameroon, thereby giving back to an institution that laid a solid foundation and re-enforced in them the discipline, knowledge, and survival skills that have contributed in making them the responsible citizens they are today.
		%p
		%br
		%p Members of PEMEXA-USA also provide support to each other, serve as mentors to students presently at P.S.S. Mankon, and also to alumni upon arrival in the United States. They use their varied expertise to make their presence felt in the various communities in the United States in which they live, thereby contributing to nation building by, among other things, participating in community service projects that foster unity in diversity.
		%p     
		%br
		%p Funding for PEMEXA-USA activities is generated from membership contributions, fundraising activities, and charitable donations from friends and affiliates.
	%div
		%p
			%a.twitter-timeline{:href => "https://twitter.com/PEMEXAUSA"} Tweets by @PEMEXAUSA
		%p
			%a.twitter-follow-button{:href => "https://twitter.com/PEMEXAUSA"} Follow @PEMEXAUSA
		%br
		%br
		%br