%h1
	- if current_user
		BECOME AN ACTIVE MEMBER & HELP PEMEXA-USA.
		- if current_user.registered?
			TODO: link_to paypal
	- else
		Membership
		%a{:href => "/auth/", :style => "margin-left:40px"} Login
		%span |
		%a{:href => "/profile/"} Register
%br/
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: normal; mso-outline-level: 2;"}
	%b
		%span{:style => "color: rgb(0, 32, 96); font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 18pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-font-kerning: 18.0pt;"}
			Benefits of Membership
			%o:p
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		PEMEXA-USA encourages alumni to develop strong ties with each other and PSS Mankon through an engaging mix of programs and activities. Currently, more than 3,000 live around the globe.
		%br/
		%br/
		Founded in 2001, PEMEXA-USA exists to &quot;
	%span{:style => "font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"} contribute to the development of our members and support our Alma-Mater
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"} &quot; The continued vitality of the Association depends on the commitment of time, energy, and resources from members like you.
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		Active membership in PEMEXA-USA is the most recognizable way of expressing your loyalty and affinity to PSS Mankon.
		%br/
		%br/
		Below are some reasons why you should become a member or renew your membership today!
		%br/
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		%br/
	%a{:name => "Network"}
	%b
		%span{:style => "color: rgb(0, 32, 96); font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 13.5pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 11.0pt;"} Network
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		%o:p
.MsoNormal{:align => "center", :style => "margin: 0in 0in 0pt; text-align: center; line-height: 13.5pt;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		%hr{:align => "center", :size => "2", :width => "100%"}/
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		The PEMEXA family is more than 3,000 strong and membership can provide you a number of opportunities to connect with alumni in your area who share your interests or profession.
		%o:p
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		%o:p
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 10.0pt;"} Chapters:
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 9.0pt;"}
			%o:p
%p.MsoNormal{:style => "margin: 0in 0in 10pt 0.5in; line-height: 13.5pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		Local chapters form the backbone of our organization and they hold meetings regularly with other special activities for all ages and taste all year round.
		%o:p
%p.MsoNormal{:style => "margin: 0in 0in 10pt; line-height: 13.5pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		%br/
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 10.0pt;"} Online Directory
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
			%o:p
%p.MsoNormal{:style => "margin: 0in 0in 10pt 0.5in; line-height: 13.5pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"} Search the entire database of alumni for your former roommate or your future business partner. You can search by name, class year, location, business and more.
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		%o:p
%p.MsoNormal{:style => "margin: 0in 0in 10pt; line-height: 13.5pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"}
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 10.0pt;"} Business / Jobs
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 9.0pt;"}
			%o:p
%p.MsoNormal{:style => "margin: 0in 0in 10pt 0.5in; line-height: 13.5pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"} Find PEMEXA-USA owned and friendly businesses in your area with the &ldquo;Blue Network&rdquo;. Members &amp; friends of PEMEXA-USA can post their businesses and services to be viewed by all who come to the site for those who need quality, affordable and reliable goods &amp; services.
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		%o:p
%p.MsoNormal{:style => "margin: 0in 0in 0pt 0.5in; line-height: 13.5pt;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
	%b
		%span{:style => "color: rgb(0, 32, 96); font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 13.5pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 11.0pt;"} Support
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		%o:p
.MsoNormal{:align => "center", :style => "margin: 0in 0in 0pt; text-align: center; line-height: 13.5pt;"}
	%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		%hr{:align => "center", :size => "2", :width => "100%"}/
%p.MsoNormal{:style => "margin: 0in 0in 10pt;"}
	%span{:style => "line-height: 115%; font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
		PEMEXA-USA has over the years proven to be a major part of the lives of the all PEMEXAN families and the students and staff members of PSS Mankon.
		%o:p
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 10.0pt;"} Social events:
%blockquote{:dir => "ltr", :style => "margin-right: 0px;"}
	%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
		%b{:style => "mso-bidi-font-weight: normal;"}
			%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 10.0pt;"}
		%span{:style => "line-height: 115%; font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"}
			%span{:style => "font-family: &quot;Times New Roman&quot;,&quot;serif&quot;; font-size: 12pt; mso-fareast-font-family: &quot;Arial Unicode MS&quot;; mso-bidi-font-family: Tahoma; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;"}> One of the major advantages of becoming a member is the togetherness that is demonstrated when celebrating life milestones
			and other types of events that we go through is needed.
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 10.0pt;"} Projects :
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 9.0pt;"}
			%o:p
%blockquote{:dir => "ltr", :style => "margin-right: 0px;"}
	%p.MsoNormal{:style => "margin: 0in 0in 10pt;"}
		%span{:style => "line-height: 115%; font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"} Since the creation of PEMEXA-USA, one of the main accomplishment has been the initiation and completion of quite a few large, small and medium size projects in PSS Mankon. This has been done at the national, chapter &amp; individual levels.
%p.MsoNormal{:style => "margin: 0in 0in 0pt; line-height: 13.5pt;"}
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 10.0pt;"} Scholarships:
	%b{:style => "mso-bidi-font-weight: normal;"}
		%span{:style => "font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-font-size: 9.0pt;"}
			%o:p
%blockquote{:dir => "ltr", :style => "margin-right: 0px;"}
	%p.MsoNormal{:style => "margin: 0in 0in 10pt;"}
		%span{:style => "line-height: 115%; font-family: &quot;Verdana&quot;,&quot;sans-serif&quot;; font-size: 10pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;;"} Identification of financial need and acadermic excellence is the basic criteria used by most alumni groups and members to determine which students in PSS Mankon get a helping hand in acheiving their goal of the best education.  PEMEXA-USA is proud to have aided many such students.
		%br/