%h1 Projects
.news-list.rc4{:style => "width: auto"}
  .news-list-inner.rc4
    %table{:cellpadding => "0", :cellspacing => "0", :style => "width: auto"}
      %tr#bx_2037796212_5.news-item{:style => "width: auto"}
        %td.preview
          %a{:href => "/projects/list.php?SECTION_ID=5", :style => "display: block; width: 231px; height: 190px; background: url('/upload/iblock/018/Outside Current ref feb2008a.jpg') no-repeat scroll 16px 14px transparent;"}
            %img.preview_picture{:alt => "Construction of a Modern Cafeteria / Student Union", :border => "0", :height => "190", :src => "/img/border.png", :style => "display: block", :title => "Construction of a Modern Cafeteria / Student Union", :width => "231"}/
        %td.preview-text
          %a.link-name{:href => "/projects/list.php?SECTION_ID=5"} Construction of a Modern Cafeteria / Student Union
          %br/
          %p
            PSS Mankon started in October 1978 on the campus of what was formerly known as WTTC.
            
            The current refectory was built in the 1960s, for Womens' Teacher Training College (WTTC) to accomodate about 300 students.
            
            Now, some 50 years later, there is need for change.
      %tr#bx_2037796212_6.news-item{:style => "width: auto"}
        %td.preview
          %a{:href => "/projects/list.php?SECTION_ID=6", :style => "display: block; width: 231px; height: 190px; background: url('/upload/iblock/47a/HealthCenter.jpg') no-repeat scroll 16px 14px transparent;"}
            %img.preview_picture{:alt => "Dispensary / Health Center", :border => "0", :height => "190", :src => "/img/border.png", :style => "display: block", :title => "Dispensary / Health Center", :width => "231"}/
        %td.preview-text
          %a.link-name{:href => "/projects/list.php?SECTION_ID=6"} Dispensary / Health Center
          %br/
          %p
            The DFW branch has made several donations over the years to the health center including:
            
            Donation of medication
            Donation of storage conatiners for medications
            onation of new mattresses and pillows (20 each) to replace the old worn out ones.
            
            
            Currently researching best option to acquire bedsheets for all the beds.
      %tr#bx_2037796212_54.news-item{:style => "width: auto"}
        %td.preview
          %a{:href => "/projects/list.php?SECTION_ID=54", :style => "display: block; width: 231px; height: 190px; background: url('/upload/iblock/40d/2014dorm1.jpg') no-repeat scroll 16px 14px transparent;"}
            %img.preview_picture{:alt => "Dormitory Tiling and Re-modeling", :border => "0", :height => "190", :src => "/img/border.png", :style => "display: block", :title => "Dormitory Tiling and Re-modeling", :width => "231"}/
        %td.preview-text
          %a.link-name{:href => "/projects/list.php?SECTION_ID=54"} Dormitory Tiling and Re-modeling
          %br/
          %p PEMEXA-USA, with your help and generous support would like to tile ALL the dormitories in PSS Mankon this summer 2014.
      %tr#bx_2037796212_9.news-item{:style => "width: auto"}
        %td.preview
          %a{:href => "/projects/list.php?SECTION_ID=9", :style => "display: block; width: 231px; height: 190px; background: url('/upload/iblock/eb8/scholarships.jpg') no-repeat scroll 16px 14px transparent;"}
            %img.preview_picture{:alt => "Scholarships & Awards", :border => "0", :height => "190", :src => "/img/border.png", :style => "display: block", :title => "Scholarships & Awards", :width => "231"}/
        %td.preview-text
          %a.link-name{:href => "/projects/list.php?SECTION_ID=9"} Scholarships & Awards
          %br/
          %p
            Scholarship/Award programs for 2011/2012 currently under review by WMA and DFW branches
            
            Awards have been given over the years by the following PEMEXA-USA branches
            \- DFW
            \- WMA
      %tr#bx_2037796212_8.news-item{:style => "width: auto"}
        %td.preview
          %a{:href => "/projects/list.php?SECTION_ID=8", :style => "display: block; width: 231px; height: 190px; background: url('/upload/iblock/a20/Shipment1.jpg') no-repeat scroll 16px 14px transparent;"}
            %img.preview_picture{:alt => "SHIPMENT TO PSS MANKON", :border => "0", :height => "190", :src => "/img/border.png", :style => "display: block", :title => "SHIPMENT TO PSS MANKON", :width => "231"}/
        %td.preview-text
          %a.link-name{:href => "/projects/list.php?SECTION_ID=8"} SHIPMENT TO PSS MANKON
          %br/
          %p
            \-Project was initiated by Mr. Thomas Pefok on behalf of PEMEXA-WMA chapter to ship the following items to PSS Mankon.
            \-25 boxes of books donated by Mr. Sabum Anyangwe (husband of Mrs.Rosa Anyangwe) and Mr. Thomas Pefok
            \-6 used microscopes (Donated by Prince George's Community College MD)
            \-Some medical supplies ( Donated by members of Pemexa-WMA)
      %tr#bx_2037796212_7.news-item{:style => "width: auto"}
        %td.preview
          %a{:href => "/projects/list.php?SECTION_ID=7", :style => "display: block; width: 231px; height: 190px; background: url('/upload/iblock/32f/Watertank1.jpg') no-repeat scroll 16px 14px transparent;"}
            %img.preview_picture{:alt => "Water Project", :border => "0", :height => "190", :src => "/img/border.png", :style => "display: block", :title => "Water Project", :width => "231"}/
        %td.preview-text
          %a.link-name{:href => "/projects/list.php?SECTION_ID=7"} Water Project
          %br/
          %p
            The foundation stone for the Water project was laid on Sunday, June 22, 2003.
            
            Tank was built and hole bore for a constant supply of water which PSS enjoys till  today.