%h1 Listing admin_payments

%table
  %thead
    %tr
      %th
      %th
      %th
      
  %tbody
    - @admin_payments.each do |admin_payment|
      %tr
        %td= link_to 'Show', admin_payment
        %td= link_to 'Edit', edit_admin_payment_path(admin_payment)
        %td= link_to 'Destroy', admin_payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Payment', new_admin_payment_path
