.admin_top-menu {
/*background: teal;*/
height: 45px;
/*width: 1000px;*/
}

.admin_top-menu table tr td a {
text-transform: uppercase;
font: small-caps 13px Myriad Pro;
color:#fff;
text-decoration: none;
display: block;
height: 45px;
line-height: 45px;
border: 1px solid #fff;
text-align: center;
background: teal;
border-radius: 3px;
border-color: #fff;
}
.admin_top-menu table tr td a[href="/donations/"] {
background: teal !important;
background-position: left 0px;
}

.admin_top-menu table tr td a:hover {
background-position: left -45px;
}

.admin_top-menu table tr td:first-child a {
background: teal;
background-repeat: no-repeat;
background-position: left 0px;
text-align: center;
border-left-style: ridge;
}
.admin_top-menu table tr td:first-child a:hover, .admin_top-menu table tr td:first-child a.selected {
background-position: left -45px;
}
.admin_top-menu table tr td a.last {
background: teal;
background-repeat: no-repeat;
background-position: right 0px;
}
.admin_top-menu table tr td a.last:hover, .admin_top-menu table tr td a.selected {
background-position: right -45px;
}
.admin_body {
background:#ffffff url(/assets/img/content-bg.png);
background-repeat: repeat-x;
min-height: 400px;
margin-top: 22px;
font-size: 13px;
color: #454545;
font-family: Tahoma;
padding: 30px 24px 10px 24px;
}
#error_explanation, #modal_error_explanation {
  color: #f00;
}

.center_panel {
  text-align: center;
}

.admin_panel {
  padding: 0.5em;
  background: #dedede;
  position: relative;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.admin_panel .admin_panel_header {
  text-transform: capitalize;
  font-size: 1.15em;
  line-height: 1.5em;
  font-weight: bold;
  padding: 0 0.5em 0.5em 0.5em;
  color: #2b2b2b;
}

.admin_panel .admin_panel_inner {
  clear: both;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0.8em;
  background: #fff;
}

.buttonBar {
  padding: 1em 0;
  width: 100%;
  text-align: right;
  clear: both;
}
